body {
    min-height:100vh;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}


#insg {
    color: hsl(277, 64%, 61%);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


.spacing {
    padding: 0px;
    position: relative;
    top:10em
}

.spacing1 {
    line-height: 4em;
}

.main {
    font-weight: 700;
    font-size: 2em;
    color: #fff;
}

.material {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2em;
}

.content {
    background-color: hsl(244, 38%, 16%);
    border-radius: .4em;
}

.info {
    color:hsla(0, 0%, 100%, 0.6);
    display: inline
}

div.info  p {
    color:#fff;
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 0px;

}

.saturate {filter: saturate(3); }


div.info div {
    display: inline-block;
    padding-right: 1.2em;
    line-height: 2.5em;
}


@media (min-width:768px) and (max-width: 992px) {
    section {
        
    }
}

/* @media (max-width: 500px) {

} */